.card {
	background-color: $white-color;
	padding: 12px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	border-radius: 4px;
	cursor: pointer;

	.day {
		font-size: 20px;
		text-align: center;
	}

	.temp {
		width: 100%;
		display: flex;
		justify-content: space-around;

		.temp-item {
			display: flex;
			align-items: flex-start;
			color: lighten($primary-color, 15%);

			&::after {
				content: '\2103';
				color: lighten($primary-color, 15%);
			}

			img {
				height: 22px;
				width: 22px;
			}
		}
	}
}
