.fav-card {
	background-color: $white-color;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
	border-radius: 4px;
	padding: 8px;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		transform: translateY(-5px);
	}

	.fav-card-details {
		.fav-card-title {
			font-size: 20px;
			font-weight: bold;
		}

		.fav-card-weather {
			.fav-card-temp {
				color: $primary-color;

				&::after {
					margin-left: 3px;
					content: '\2103';
					color: $primary-color;
				}
			}
		}
	}

	img {
		height: 25px;
		width: 25px;
		cursor: pointer;
	}
}
