.fav-card {
	background-color: $white-color;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
	border-radius: 4px;
	padding: 8px;

	.fav-card-title {
		font-size: 20px;
		font-weight: bold;
	}

	img {
		height: 25px;
		width: 25px;
		cursor: pointer;
	}
}
