.forecast {
	display: grid;
	grid-template-rows: 150px 1fr;
	gap: 40px;

	.forecast-current {
		background-color: $white-color;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		gap: 6px;
		border-radius: 4px;

		img {
			object-fit: contain;
			height: 100px;
			width: 100px;
		}

		.forecast-description {
			.city {
				font-size: 28px;
				font-weight: bold;
			}

			.temp {
				color: $primary-color;

				&::after {
					content: '\2103';
					margin-left: 2px;
				}

				&[data-unit='false'] {
					&::after {
						content: '\2109';
					}
				}
			}
		}

		.forecast-title {
			font-size: 16px;
		}

		.favorite-icon {
			height: 35px;
			width: 35px;
			cursor: pointer;
			margin-right: 15px;
			transition: all 0.3s ease;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
