.forecast {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
	gap: 20px;

	.forecast-current {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		gap: 6px;
		padding: 4px;

		img {
			height: 80px;
			width: 80px;
			object-fit: cover;
		}

		.favorite-icon {
			height: 30px;
			width: 30px;
		}
	}

	.forecast-title {
		font-size: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
