.search {
	display: flex;
	justify-content: center;
	gap: 8px;
	padding: 15px 0;

	.unit {
		background-color: $white-color;
		color: $primary-color;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px 8px;
		border: 1px solid lighten($primary-color, 15%);
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.3s ease;
		min-width: 40px;

		&::after {
			content: '\2103';
			color: lighten($primary-color, 15%);
		}

		&[data-unit='false'] {
			&::after {
				content: '\2109';
			}
		}

		&:hover {
			background-color: lighten($primary-color, 15%);

			&::after {
				color: $white-color;
			}
		}
	}
}
