// PALATE COLORS
$bg-color: #ecf0f3;
$black-color: #1f2937;
$primary-color: #4b47d7;
$white-color: #ffffff;
$shadow-color: #5b545526;

// BREAKPOINTS
$mobile-size: 780px;

//SIZES
$header-h-mobile: 90px;
$header-h-desktop: 110px;
